@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4d2b6d;
}

button {
  padding: 5px;
  margin: 2px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15pt;
  font-family: "poppins";
  font-weight: bolder;
}

button:hover {
  background-color: blueviolet;
  color: white;
}

.botoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 300px;
  height: 250px;
}

.container-calc {
  display: flex;
  flex-direction: column;
  gap: -25px;
}

.operacao {
  background-color: #eb0f8f;
  color: white;
}

.operacao:hover {
  background-color: #ffffff;
  color: #eb0f8f;
}

.clean {
  background-color: rgb(231, 112, 14);
  color: white;
}

.clean:hover {
  background-color: white;
  color: rgb(231, 112, 14);
}

#equal-btn {
  grid-column: 2 / 6;
  background-color: blueviolet;
  color: white;
}

#equal-btn:hover {
  background-color: rgb(255, 255, 255);
  color: blueviolet;
}

#container {
  background-color: rgba(255, 255, 255, 0.322);
  margin-left: 310px;
  width: 300px;
  border: 3px solid;
  border-radius: 10px;
  border-color: #cd99fd;
  padding: 10px;
  height: 330px;
  position: absolute;
}

#visor {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.397);
  border: 2px solid;
  border-radius: 10px;
  border-color: #cd99fd;
  width: 300px;
  height: 65px;
  font-family: "Ubuntu", monospace;
  font-size: 50px;
  text-align: right;
  padding-right: 8px;
}

/*Histórico*/
#historico {
  font-family: "Ubuntu", monospace;
  margin-left: 2%;
  margin-top: 50px;
  font-size: 13pt;
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
}

h3 {
  font-size: 25pt;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: -10px;
}
